// ANIMACIONES

@keyframes slideIn{
    from{}
    to{transform: translateX(0);}
}

// CARRITO

.cart{
    font-size: 25px;
    padding: 10px;
    display: flex;
    transform: translateY(-100rem);
    animation: slideIn 1s forwards;
    &:hover{
        font-size: 27px;
        transition: all .5s;
    }
    a{
        display: flex;
        align-items: center;
    }
}

.contadorCart{
    margin: 5px;
    padding-top: 5px;
    font-weight: bold;
}