.categorytype-container{
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 992px){
    .categorytype-container{
        flex-flow: column;
    }
}