.NavBar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-top: 20px;
    padding-left: 0px;
    font-weight: bold;
}

.li{
    padding: 15px;
    list-style: none;
    background-color: #87acc7 ;
    border: 1px solid black;
    &:hover{
        background: #dee1df;
        text-decoration: underline;
    }
}

@media screen and (max-width: 576px){
    .NavBar{
        gap: 15px;
    }
}