.button-container{
    width: auto;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid royalblue;
    button{
        font-size: large;
        padding: 1px;
        margin: 5px;
        border: none;
        background: none;
        color: black !important;
    }
    p{
        font-size: large;
        padding: 1px;
        margin: 5px;
    }
}

.cart-container{
    padding: 5px;
    button{
        width: 100%;
        font-size: 15px;
        padding: 5px;
        text-transform: capitalize;
        border: 1px solid royalblue;
        color: royalblue !important;
        background-color: aliceblue;
    }
}